In [1]:
#dependencies
import pandas as pd
import requests
from sqlalchemy import create_engine
from flask import Flask,jsonify,render_template,Response
import json
import pickle

In [2]:
# DSCI data
dsci_path = "us_dsci_data.csv"
dsci_df = pd.read_csv(dsci_path)
dsci_df = dsci_df.rename(columns={"Name": "state", "MapDate": "date", "DSCI":"dsci"})

dsci_df

         state      date  dsci
0      Alabama  20141230    41
1      Alabama  20150106    21
2      Alabama  20150113    21
3      Alabama  20150120    46
4      Alabama  20150127    41
...        ...       ...   ...
17095  Wyoming  20210615   203
17096  Wyoming  20210622   227
17097  Wyoming  20210629   244
17098  Wyoming  20210706   246
17099  Wyoming  20210713   253

[17100 rows x 3 columns]

In [3]:
engine = create_engine('postgresql://postgres:postgres@localhost/project_2')
engine.connect()

In [4]:
print(engine)

Engine(postgresql://postgres:***@localhost/project_2)

In [5]:
dsci_df.to_sql(name="drought_severity",con=engine, if_exists="append")

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "drought_severity_pkey"
DETAIL:  Key (index)=(0) already exists.

[SQL: INSERT INTO drought_severity (index, state, date, dsci) VALUES (%(index)s, %(state)s, %(date)s, %(dsci)s)]
[parameters: ({'index': 0, 'state': 'Alabama', 'date': 20141230, 'dsci': 41}, {'index': 1, 'state': 'Alabama', 'date': 20150106, 'dsci': 21}, {'index': 2, 'state': 'Alabama', 'date': 20150113, 'dsci': 21}, {'index': 3, 'state': 'Alabama', 'date': 20150120, 'dsci': 46}, {'index': 4, 'state': 'Alabama', 'date': 20150127, 'dsci': 41}, {'index': 5, 'state': 'Alabama', 'date': 20150203, 'dsci': 41}, {'index': 6, 'state': 'Alabama', 'date': 20150210, 'dsci': 64}, {'index': 7, 'state': 'Alabama', 'date': 20150217, 'dsci': 86}  ... displaying 10 of 17100 total bound parameter sets ...  {'index': 17098, 'state': 'Wyoming', 'date': 20210706, 'dsci': 246}, {'index': 17099, 'state': 'Wyoming', 'date': 20210713, 'dsci': 253})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

CA Drought by County since 2015

In [27]:
ca_county = "ca_drought_data.csv"
ca_county_df = pd.read_csv(ca_county)
ca_county_df = ca_county_df.rename(columns={"FIPS": "fips", "StartDate": "start_date", "EndDate":"end_date", "ConsecutiveWeeks":"consecutiveweeks",
                                           "State":"state", "County":"county"})
ca_county_df.head(50)

    fips  start_date    end_date  consecutiveweeks state               county
0   6001  2015-12-31  2017-02-09                58    CA       Alameda County
1   6001  2018-02-22  2019-02-07                50    CA       Alameda County
2   6001  2019-11-14  2019-12-05                 3    CA       Alameda County
3   6001  2020-01-30  2021-07-01                75    CA       Alameda County
4   6003  2015-12-31  2017-01-19                55    CA        Alpine County
5   6003  2018-02-01  2018-04-05                10    CA        Alpine County
6   6003  2018-06-28  2019-01-24                30    CA        Alpine County
7   6003  2019-10-17  2019-12-05                 7    CA        Alpine County
8   6003  2020-01-30  2021-07-01                75    CA        Alpine County
9   6005  2015-12-31  2017-02-09                58    CA        Amador County
10  6005  2018-02-01  2018-03-22                 8    CA        Amador County
11  6005  2018-06-28  2019-01-24                30    CA        Amador County
12  6005  2019-10-24  2019-12-05                 6    CA        Amador County
13  6005  2020-01-30  2021-07-01                75    CA        Amador County
14  6007  2015-12-31  2017-01-05                53    CA         Butte County
15  6007  2018-02-08  2019-01-31                51    CA         Butte County
16  6007  2019-11-14  2019-12-05                 3    CA         Butte County
17  6007  2020-01-30  2021-07-01                75    CA         Butte County
18  6009  2015-12-31  2017-02-23                60    CA     Calaveras County
19  6009  2018-02-01  2018-04-05                10    CA     Calaveras County
20  6009  2018-06-28  2019-01-24                30    CA     Calaveras County
21  6009  2019-10-24  2019-12-05                 6    CA     Calaveras County
22  6009  2020-01-30  2021-07-01                75    CA     Calaveras County
23  6011  2015-12-31  2017-01-05                53    CA        Colusa County
24  6011  2018-02-08  2019-02-07                52    CA        Colusa County
25  6011  2019-11-14  2019-12-05                 3    CA        Colusa County
26  6011  2020-01-30  2021-07-01                75    CA        Colusa County
27  6013  2015-12-31  2017-02-09                58    CA  Contra Costa County
28  6013  2018-02-22  2019-01-24                48    CA  Contra Costa County
29  6013  2019-11-14  2019-12-05                 3    CA  Contra Costa County
30  6013  2020-01-30  2021-07-01                75    CA  Contra Costa County
31  6015  2015-12-31  2016-03-24                13    CA     Del Norte County
32  6015  2016-06-09  2016-10-13                19    CA     Del Norte County
33  6015  2018-06-07  2019-02-28                38    CA     Del Norte County
34  6015  2020-02-27  2021-07-01                71    CA     Del Norte County
35  6017  2015-12-31  2017-01-19                55    CA     El Dorado County
36  6017  2018-02-01  2018-03-22                 8    CA     El Dorado County
37  6017  2018-06-28  2019-01-24                30    CA     El Dorado County
38  6017  2019-10-24  2019-12-05                 6    CA     El Dorado County
39  6017  2020-01-30  2021-07-01                75    CA     El Dorado County
40  6019  2015-12-31  2019-02-14               161    CA        Fresno County
41  6019  2016-11-23  2018-11-21                 3    CA        Fresno County
42  6019  2019-10-17  2019-12-05                 7    CA        Fresno County
43  6019  2020-01-30  2021-07-01                75    CA        Fresno County
44  6021  2015-12-31  2017-01-05                53    CA         Glenn County
45  6021  2018-02-08  2019-02-14                53    CA         Glenn County
46  6021  2019-11-14  2019-12-05                 3    CA         Glenn County
47  6021  2020-01-30  2021-07-01                75    CA         Glenn County
48  6023  2015-12-31  2016-10-13                42    CA      Humboldt County
49  6023  2018-01-11  2018-02-01                 4    CA      Humboldt County

In [28]:
ca_county_df.to_sql(name="ca_drought",con=engine, if_exists="append")

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "ca_drought" violates foreign key constraint "ca_drought_county_fkey"
DETAIL:  Key (county)=(Alameda County) is not present in table "ca_coord".

[SQL: INSERT INTO ca_drought (index, fips, start_date, end_date, consecutiveweeks, state, county) VALUES (%(index)s, %(fips)s, %(start_date)s, %(end_date)s, %(consecutiveweeks)s, %(state)s, %(county)s)]
[parameters: ({'index': 0, 'fips': 6001, 'start_date': '2015-12-31', 'end_date': '2017-02-09', 'consecutiveweeks': 58, 'state': 'CA', 'county': 'Alameda County'}, {'index': 1, 'fips': 6001, 'start_date': '2018-02-22', 'end_date': '2019-02-07', 'consecutiveweeks': 50, 'state': 'CA', 'county': 'Alameda County'}, {'index': 2, 'fips': 6001, 'start_date': '2019-11-14', 'end_date': '2019-12-05', 'consecutiveweeks': 3, 'state': 'CA', 'county': 'Alameda County'}, {'index': 3, 'fips': 6001, 'start_date': '2020-01-30', 'end_date': '2021-07-01', 'consecutiveweeks': 75, 'state': 'CA', 'county': 'Alameda County'}, {'index': 4, 'fips': 6003, 'start_date': '2015-12-31', 'end_date': '2017-01-19', 'consecutiveweeks': 55, 'state': 'CA', 'county': 'Alpine County'}, {'index': 5, 'fips': 6003, 'start_date': '2018-02-01', 'end_date': '2018-04-05', 'consecutiveweeks': 10, 'state': 'CA', 'county': 'Alpine County'}, {'index': 6, 'fips': 6003, 'start_date': '2018-06-28', 'end_date': '2019-01-24', 'consecutiveweeks': 30, 'state': 'CA', 'county': 'Alpine County'}, {'index': 7, 'fips': 6003, 'start_date': '2019-10-17', 'end_date': '2019-12-05', 'consecutiveweeks': 7, 'state': 'CA', 'county': 'Alpine County'}  ... displaying 10 of 255 total bound parameter sets ...  {'index': 253, 'fips': 6115, 'start_date': '2019-11-14', 'end_date': '2019-12-05', 'consecutiveweeks': 3, 'state': 'CA', 'county': 'Yuba County'}, {'index': 254, 'fips': 6115, 'start_date': '2020-01-30', 'end_date': '2021-07-01', 'consecutiveweeks': 75, 'state': 'CA', 'county': 'Yuba County'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [6]:
test = engine.execute("SELECT index, fips, start_date, end_date, consecutiveweeks, state, county FROM ca_drought WHERE end_date = '2021-07-01' ORDER BY county;").fetchall()

In [10]:
with open("US_Counties.json", 'r') as f:  
    data = json.loads(f.read())

df_nested_list = pd.json_normalize(data, record_path=['features'])
df_nested_list.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 13337350: invalid continuation byte

In [8]:
county_coord = df_nested_list.loc[:,["properties.STATE", "properties.NAME", "properties.LSAD", "geometry.coordinates"]]
county_coord = county_coord.rename(columns = {"properties.STATE":"state_id", "properties.NAME":"name", "properties.LSAD":"lsad", 
                                   "geometry.coordinates":"coordinates"})
county_coord["county"] = county_coord["name"].astype(str) + ' ' + county_coord["lsad"]
county_coord = county_coord.drop(["name", "lsad"], axis=1)
county_coord = county_coord.loc[county_coord["state_id"] == "06"]
county_coord["state_id"] = county_coord["state_id"].astype("int")
county_coord["coordinates"] = county_coord["coordinates"].astype('string')
county_coord["county"] = county_coord["county"].astype('string')
county_coord.head()
# bxcounty_coord = pickle.dumps(county_coord["coordinates"])
# pickle.loads(bxcounty_coord)

# county_coord["coordinates"] = pickle.dumps(county_coord["coordinates"])
# county_coord.head()

NameError: name 'df_nested_list' is not defined

In [9]:
county_coord.to_sql(name="ca_coord",con=engine, if_exists="append", index=False)

NameError: name 'county_coord' is not defined