In [29]:
#dependencies
import pandas as pd
import requests
from sqlalchemy import create_engine

In [30]:
dsci_path = "us_dsci_data.csv"
dsci_df = pd.read_csv(dsci_path)
dsci_df = dsci_data.rename(columns={"Name": "state", "MapDate": "date", "DSCI":"dsci"})

dsci_df

         state      date  dsci
0      Alabama  20141230    41
1      Alabama  20150106    21
2      Alabama  20150113    21
3      Alabama  20150120    46
4      Alabama  20150127    41
...        ...       ...   ...
17095  Wyoming  20210615   203
17096  Wyoming  20210622   227
17097  Wyoming  20210629   244
17098  Wyoming  20210706   246
17099  Wyoming  20210713   253

[17100 rows x 3 columns]

In [31]:
engine = create_engine('postgresql://postgres:postgres@localhost/project_2')
engine.connect()

In [32]:
print(engine)

Engine(postgresql://postgres:***@localhost/project_2)

In [33]:
dsci_df.to_sql(name="drought_severity",con=engine,if_exists='append')